# Copyright GRL & EBI 2001
# Author: Simon Potter
# Creation: 11.03.2002

# configuration information for Blast header parsing
#
# each blast database needs a regular expression to
# enable the correct accession to be parsed from the
# header
# the code will throw if a (legal) regex is not
# defined for a database when it is used
#
# Example RE's are below. If you don't understand
# regexes, e-mail ensembl-dev@ebi.ac.uk for help!

# added blastconf, contains some blast options and parameters
# for Blast.pm.


BEGIN {
package main;

# Regex's for Blast fasta headers

%fasta_header_re = (
    'unigene.seq'    => '',
    'swall'          => '',
    'dbEST'          => '',
    'embl_vertrna'   => '',
);

%blastconf = (
    'filter_blast'   => 0 , #filter blast results (1) or prune them (0)? Blast.po
    'B_factor'       => '10', # factor that determines the number of HSP alignments reported when running blast
    'blast_type'     => 'wu' # wu or ncbi blast.
);

}

1;


__END__

