# Copyright GRL & EBI 2001
# Author: Simon Potter
# Creation: 11.03.2002

# configuration information for Blast header parsing
#
# each blast database needs a regular expression to
# enable the correct accession to be parsed from the
# header
# the code will throw if a (legal) regex is not
# defined for a database when it is used
#
# Example RE's are below. If you don't understand
# regexes, e-mail ensembl-dev@ebi.ac.uk for help!


BEGIN {
package main;

# Regex's for Blast fasta headers

%fasta_header_re = (
    'unigene.seq'    => '',
    'swall'          => '',
    'dbEST'          => '',
    'embl_vertrna'   => '',
);

}

1;


__END__


^\w+\s+(\w+)'
>143B_HUMAN P31946 CAA40621.1 CAA15497.1 AAH01359.1 Desc: 14-3-3
PROTEIN BETA/ALPHA (PROTEIN KINASE C INHIBITOR PROTEIN-1) (KCIP-1)
(PROTEIN 1054).

'\/ug=(\w+)'
>gnl|UG|At#S146917 Arabidopsis thaliana AT3g12580/T2E22_110 mRNA,
complete cds /cds=(102,2054) /gb=AY054183 /gi=15809831 /ug=At.1
/len=2284

