[DEFAULT_DATABASE]
host=
user=
pass=
port=3306

#
# Database where pipeline config is stored
# as well as jobs & job_status
#
[PIPELINE_DATABASE]
dbname = 
host=
user=
pass=
port=3306

[ENSEMBL_DATABASE]
dbname = 

[DNA_DATABASE]
dbname = 

[LSF]
ouput_dir = 
path = /usr/local/lsfv42/4.2/alpha5/bin/
max_pending = 1000
runner =

[LOCAL]
ouput_dir = 

[PIPELINE_MANAGER]
check_interval = 35
#
# This is a list of tasks to be run by the pipeline manager
#
[TASKS]
repeatmasker_task = Bio::EnsEMBL::Pipeline::Task::RDB::RepeatMasker
genscan_task = Bio::EnsEMBL::Pipeline::Task::RDB::Genscan
#
# configuration for tasks follows
#
[DEFAULT_TASK]
ensdb = ensembl_database
dnadb = dna_database
where = 
batchsize = 50
#timeout in seconds 86400 = 24hours
timeout = 86400
retries	= 0
#max create represents the maxumim number of jobs a Task will create at
#one time
max_create = 50

[REPEATMASKER_TASK]
timeout  = 3600
where = LSF:acarilong
retries = 3
input_id = contig #type of input_id can be contig, slice, chromosome 
                  #and file
logic_name = RepeatMask #all tasks which use runnabledbs need a 
			#logic_name which matches their analysis object

[GENSCAN_TASK]
timeout = 3600
where = LSF:acarilong
retries = 3
input_id = contig 
logic_name = Genscan

[TRIBE_MCL_TASK]
where = 
batchsize = 1
