[DEFAULT_DATABASE]
host=
user=
pass=
port=3306

#
# Database where pipeline config is stored
# as well as jobs & job_status
#
[PIPELINE_DATABASE]
dbname = 
host=
user=
pass=
port=3306

[ENSEMBL_DATABASE]
dbname = 

[DNA_DATABASE]
dbname = 

[LSF]
ouput_dir = /tmp
path = /usr/local/lsfv42/4.2/alpha5/bin/

[LOCAL]
ouput_dir = /tmp

[PIPELINE_MANAGER]
check_interval = 35
#
# This is a list of tasks to be run by the pipeline manager
#
[TASKS]
repeatmasker_task = Bio::EnsEMBL::Pipeline::Task::RDB::RepeatMasker

#
# configuration for tasks follows
#
[DEFAULT_TASK]
ensdb = ensembl_database
dnadb = dna_database
where = 
batchsize = 500
#timeout in seconds 86400 = 24hours
timeout = 86400
retries	= 0
#max create represents the maxumim number of jobs a Task will create at
#one time
max_create = 50

[REPEATMASKER_TASK]
timeout  = 3600
where = Local
retries = 3

[GENSCAN_TASK]
timeout = 3600

[TRIBE_MCL_TASK]
where = 
batchsize = 1
