#
# BioPerl module for Bio::EnsEMBL::Analysis::ESTConf;
#
# Cared for by EnsEMBL (ensembl-dev@ebi.ac.uk)
#
# Copyright GRL & EBI
#
# You may distribute this module under the same terms as perl itself

# POD documentation - main docs before the code

=head1 NAME

Bio::EnsEMBL::Pipeline::ESTConf - imports global variables used by EnsEMBL EST analysis

=head1 SYNOPSIS

    use Bio::EnsEMBL::Pipeline::Config::cDNAs_ESTs::Exonerate;
    use Bio::EnsEMBL::Pipeline::Config::cDNAs_ESTs::Exonerate qw(  );

=head1 DESCRIPTION

ESTConf is a pure ripoff of humConf written by James Gilbert.

humConf is based upon ideas from the standard perl Env environment
module.

It imports and sets a number of standard global variables into the
calling package, which are used in many scripts in the human sequence
analysis system.  The variables are first declared using "use vars",
so that it can be used when "use strict" is in use in the calling
script.  Without arguments all the standard variables are set, and
with a list, only those variables whose names are provided are set.
The module will die if a variable which doesn\'t appear in its
C<%Exonerate> hash is asked to be set.

The variables can also be references to arrays or hashes.

Edit C<%Exonerate> to add or alter variables.

All the variables are in capitals, so that they resemble environment
variables.

=head1 CONTACT

=cut


package Bio::EnsEMBL::Pipeline::ESTConf;

use strict;
use vars qw( %Exonerate );

# Hash containing config info
%Exonerate = (
	      
	      EST_INPUTID_REGEX => '(\S+)\.(\d+)-(\d+)',
	      EST_RUNNER        => '/nfs/acari/eae/ensembl/ensembl-pipeline/scripts/EST/run_exonerate.pl', 	   
	      
	      # path to ensembl-pipeline/scripts/EST
	      EST_SCRIPTDIR     => '/nfs/acari/eae/ensembl/ensembl-pipeline/scripts/EST/',
	    
	      # where the result-directories are going to go	
	      
	      EST_TMPDIR        => '/ecs2/scratch3/ensembl/eae/NCBI_31/ests/',
	    
	      # job-queue in the farm
	      LSF_OPTIONS       => '-q acari -C0',
	    
	      # make_bsubs.pl options
	      EST_EXONERATE_BSUBS   => '/ecs2/scratch3/ensembl/eae/NCBI_31/ests/exonerate.jobs',
	      
	      # path to file containing ALL ESTs/cDNAs
	      EST_FILE                    => '/ecs2/work1/eae/NCBI_31/ests/human_ests',
	      
	      # path to directory where EST chunks live
	      EST_CHUNKDIR                => '/ecs2/work1/eae/NCBI_31/ests/chunks/',
	      
	      # how many chunks?
	      # for NCBI_28 we have 3690891 ests, at approx. 350 ests per chunk, we estimate
	      EST_CHUNKNUMBER             => 40000, 	 
	      
	      #####################
	      # EXONERATE OPTIONS #
	      #####################
	      
	      # full path fo the dir where we have the masked-dusted chromosomes
	      EST_GENOMIC                 => '/ecs2/work1/eae/Rat/genome/',
	      
	      # path to file with repeatmasked dusted genomic sequences
	      # NB this file is huge - distribute it across the farm or 
	      # be prepared to face the wrath of systems when the network 
	      # seizes up!
	      
	      #EST_EXONERATE               => '/acari/work2/gs2/gs2/bin/arch/OSF1/exonerate-0.6.5',
	      #EST_EXONERATE               => '/acari/work2/gs2/gs2/bin/arch/Linux/exonerate-0.6.5',
	      EST_EXONERATE              => '/usr/local/ensembl/bin/exonerate-0.6.6',
	      
	      ### new exonerate options ####
	      #
	      # score: min scores to report. 
	      # Score is here the raw score for the alignment: +5 for every match and -4 for every mismatch 
	      #
	      # fsmmemory: memory given for the target sequence ( max memory required for holding the chromosomes )
	      # In human this could be around 256
	      #
	      EST_EXONERATE_OPTIONS       => ' --score 500 --fsmmemory 300 --softmasktarget',
	      
	      
	      ############################################################
	      # each runnable has an analysis
	      ############################################################
	      
	      EST_EXONERATE_RUNNABLE     => 'Bio::EnsEMBL::Pipeline::RunnableDB::ExonerateToGenes',      
	      EST_EXONERATE_ANALYSIS     => 'exonerate',
	      
	      EST_SOURCE                  => 'dbEST',      
	      	    
	      ############################################################
	      # ref_db - holds the static golden path, contig and dna information
	      ############################################################
	      
	      EST_REFDBNAME               => 'ens_NCBI_31',
	      EST_REFDBHOST               => 'ecs2b',
	      EST_REFDBUSER               => 'ensro',
	      EST_REFDBPASS               => '',
	      
	      ############################################################
	      # est_db = where we write the exonerate results as genes/transcripts
	      ############################################################
	      
	      EST_DBNAME                  => 'ens_NCBI_31_est',
	      EST_DBHOST                  => 'ecs2f',
	      EST_DBUSER                  => 'ensadmin',
	      EST_DBPASS                  => 'ensembl',
	      
	     );

sub import {
  my ($callpack) = caller(0); # Name of the calling package
  my $pack = shift; # Need to move package off @_

  # Get list of variables supplied, or else
  # all of ESTConf:
  my @vars = @_ ? @_ : keys( %Exonerate );
  return unless @vars;
  
    # Predeclare global variables in calling package
  eval "package $callpack; use vars qw("
    . join(' ', map { '$'.$_ } @vars) . ")";
    die $@ if $@;


    foreach (@vars) {
	if ( defined $Exonerate{ $_ } ) {
            no strict 'refs';
	    # Exporter does a similar job to the following
	    # statement, but for function names, not
	    # scalar variables:
	    *{"${callpack}::$_"} = \$Exonerate{ $_ };
	} else {
	    die "Error: Exonerate: $_ not known\n";
	}
    }
}

1;
