package WormBaseConf;

use strict;
use vars qw( %WormBaseConf );


%WormBaseConf = (
		 #location of agp and gff files
		 WB_CHR_INFO => [
				 { 
				  chr_name => 'I',
				  agp_file => 'CHROMOSOME_I.agp',
				  length => '15080552',
				  gff_file => 'CHROMOSOME_I.gff',
				 },
				 { 
				  chr_name => 'II',
				  agp_file => 'CHROMOSOME_II.agp',
				  length => '15279311',
				  gff_file => 'CHROMOSOME_II.gff',
				 },
				 { 
				  chr_name => 'III',
				  agp_file => 'CHROMOSOME_III.agp',
				  length => '13783317',
				  gff_file => 'CHROMOSOME_III.gff',
				 },
				 { 
				  chr_name => 'IV',
				  agp_file => 'CHROMOSOME_IV.agp',
				  length => '17493785',
				  gff_file => 'CHROMOSOME_IV.gff',
				 },
				 { 
				  chr_name => 'V',
				  agp_file => 'CHROMOSOME_V.agp',
				  length => '20922231',
				  gff_file => 'CHROMOSOME_V.gff',
				 },
				 { 
				  chr_name => 'X',
				  agp_file => 'CHROMOSOME_X.agp',
				  length => '17718850',
				  gff_file => 'CHROMOSOME_X.gff',
				 },
				 { 
				  chr_name => 'MtDNA',
				  agp_file => 'CHROMOSOME_MtDNA.agp',
				  length => '14088',
				  gff_file => '',
				 }
			       ],

		 # agp type which gets written to database meta
		 WB_AGP_TYPE => '',

		 # database to put sequnece and genes into
		 WB_DBNAME  => '',
		 WB_DBHOST  => 'ecs1a',
		 WB_DBUSER  => 'ensadmin',
		 WB_DBPASS  => 'ensembl',
		 WB_DBPORT  => '3306',

		 # if want the debug statements in wormbase to ensembl scripts printed
		 WB_DEBUG   => 1,

		 # location to write file containing dodgy seq ids
		 WB_SEQ_IDS => '',

		 # location to write ids of genes which don't translate
		 WB_NON_TRANSLATE => '',

		 #coordinate-system / base feature names
		 WB_CLONE_SYSTEM_NAME      => 'clone',
		 WB_CHROMOSOME_SYSTEM_NAME => 'chromosome',

		 # logic name of analysis objectsto be parsed out of the gff
		 WB_LOGIC_NAME             => 'wormbase',
		 WB_OPERON_LOGIC_NAME      => 'Operon',
		 WB_RNAI_LOGIC_NAME        => 'RNAi',
		 WB_EXPR_LOGIC_NAME        => 'Expression_profile',
		 WB_PSEUDO_LOGIC_NAME      => 'Pseudogene',
		 WB_TRNA_LOGIC_NAME        => 'tRNA',
		 #WB_SL1_LOGIC_NAME        => 'SL1',
		 #WB_SL2_LOGIC_NAME        => 'SL2',
		);

sub import {
    my ($callpack) = caller(0); # Name of the calling package
    my $pack = shift; # Need to move package off @_

    # Get list of variables supplied, or else
    # all of GeneConf:
    my @vars = @_ ? @_ : keys( %WormBaseConf );
    return unless @vars;

    # Predeclare global variables in calling package
    eval "package $callpack; use vars qw("
         . join(' ', map { '$'.$_ } @vars) . ")";
    die $@ if $@;

    foreach (@vars) {
	if ( defined $WormBaseConf{ $_ } ) {
            no strict 'refs';
	    # Exporter does a similar job to the following
	    # statement, but for function names, not
	    # scalar variables:
	    *{"${callpack}::$_"} = \$WormBaseConf{ $_ };
	} else {
	    die "Error: WormBaseConf: $_ not known\n";
	}
    }
}

1;
