# EnsEMBL module for Bio::EnsEMBL::Pipeline::Config::Blast;
#
# You may distribute this module under the same terms as perl itself


=head1 NAME

Bio::EnsEMBL::Pipeline::Config::Blast

=head1 SYNOPSIS

    use Bio::EnsEMBL::Pipeline::Config::Blast;
    use Bio::EnsEMBL::Pipeline::Config::Blast qw();

=head1 DESCRIPTION

Configuration for blast-type analyses. Primarily this is used to
specify a regex for each database that is used to extract the
correct accession.

It imports and sets a number of standard global variables into the
calling package. Without arguments all the standard variables are set,
and with a list, only those variables whose names are provided are set.
The module will die if a variable which doesn\'t appear in its
C<%Config> hash is asked to be set.

The variables can also be references to arrays or hashes.

Edit C<%Config> to add or alter variables.

All the variables are in capitals, so that they resemble environment
variables.

=head1 CONTACT

B<ensembl-dev@ebi.ac.uk>

=cut


package Bio::EnsEMBL::Pipeline::Config::Blast;

use strict;
use vars qw(%Config);
#chr10_int_repeats
%Config = (
         UNKNOWN_ERROR_STRING => 'FAILED',  # this is the error blast
    DB_CONFIG => [
        { 
            name    => 'embl_vertrna,emnew_vertrna',
            type    => 'dna',
#example       	    >BZ412789 BZ412789.1 GFP192 BayGenomics
            header  => '\S+\s+(\S+)\s',
            flavour => 'wu',
            ungapped => 0,
            discard_overlaps => 0,
            max_coverage => 0
        },
        { 
            name    => 'dbMOUSE-EST,dbHUMAN-EST,dbOTHERS-EST',
            type    => 'dna',
#example            >gi|272208|gb|M61958.1|M61958 EST00006 Hippocampus, Str
            header  => '^[^\|]+\|[^\|]+\|[^\|]+\|([^\|]+)\|',
            flavour => 'wu',
            ungapped => 0,
            discard_overlaps => 0,
            max_coverage => 0
        },
        { 
            name    => 'dbHUMAN-EST',
            type    => 'dna',
#example            >gi|272208|gb|M61958.1|M61958 EST00006 Hippocampus, Str
            header  => '^[^\|]+\|[^\|]+\|[^\|]+\|([^\|]+)\|',
            flavour => 'wu',
            ungapped => 0,
            discard_overlaps => 0,
            max_coverage => 0
        },
        { 
	    name    => 'dbMOUSE-EST',
            type    => 'dna',
#example            >gi|272208|gb|M61958.1|M61958 EST00006 Hippocampus, Str
            header  => '^[^\|]+\|[^\|]+\|[^\|]+\|([^\|]+)\|',
            flavour => 'wu',
            ungapped => 0,
            discard_overlaps => 0,
            max_coverage => 0
        },
        { 
            name    => 'dbOTHERS-EST',
            type    => 'dna',
#example            >gi|272208|gb|M61958.1|M61958 EST00006 Hippocampus, Str
            header  => '^[^\|]+\|[^\|]+\|[^\|]+\|([^\|]+)\|',
            flavour => 'wu',
            ungapped => 0,
            discard_overlaps => 0,
            max_coverage => 0
        },
        { 
            name    => 'dbSTS',
            type    => 'dna',
            header  => '^[^\|]+\|[^\|]+\|[^\|]+\|([^\|]+)\|',
            flavour => 'wu',
            ungapped => 0
        },
        { 
            name    => 'uniprot',
            type    => 'protein',
            header  => '^\w+\s+(\w+)',
            flavour => 'wu',
            discard_overlaps => 1,
            max_coverage => 10
        },
        { 
            name    => 'swall',
            type    => 'protein',
            header  => '^\w+\s+(\w+)',
            flavour => 'wu',
            discard_overlaps => 1,
            max_coverage => 10
        },
        { 
            name    => '/acari/work1a/rds/blastdb/chr10_int_repeats',
            type    => 'dna',
#example       	    >BZ412789 BZ412789.1 GFP192 BayGenomics
            header  => '([^>]+)',
            flavour => 'wu',
            ungapped => 0,
            discard_overlaps => 0,
            max_coverage => 0,
            no_desc => 1
        },
        {
            name => '/acari/work1a/rds/blastdb/chr9_int_repeats/chr9_int_repeats.fa',
            type    => 'dna',
#example       	    >AL731535.6.1.34521
            header  => '([^>]+)',
            flavour => 'wu',
            ungapped => 0,
            discard_overlaps => 0,
            max_coverage => 0,
            no_desc => 1,

        },
        { 
            name    => '/data/blastdb/Fish/zfish_EMBL_ESTs.fa',
            type    => 'dna',
#example       	    >AA542437 AA542437.1 fa06f03.r1 Zebrafish ICR
            header  => '\w+\s(\S+)',
            flavour => 'wu',
            ungapped => 0,
            discard_overlaps => 0,
            max_coverage => 0,
            
        },
        { 
#            name    => '/ecs4/work3/rds/blastdb/WASHU_EST_clusters.fna',
            name => '/ecs4/work3/rds/blastdb/WASHU_EST_clusters/WASHU_EST_clusters.fna',
#            name => '/ecs4/work3/rds/blastdb/EST_clusters/EST_clusters.fa',
            type    => 'dna',
#example       	    >AA542437 AA542437.1 fa06f03.r1 Zebrafish ICR
            header  => '([\S]+)',
            flavour => 'wu',
            ungapped => 0,
            discard_overlaps => 0,
            max_coverage => 0,
            no_desc => 1,
        },
	{
	    name    => 'refseqdna/hs.fna',
            type    => 'dna',
#example	    >gi|20270531|ref|NG_001199.1| 
            header  => '^[^\|]+\|[^\|]+\|[^\|]+\|([^\|]+)\|',
            flavour => 'wu',
            ungapped => 0,
            discard_overlaps => 0,
            max_coverage => 0,
            no_desc => 1,
	},
	{
	    name    => 'refseqdna/zebrafish.fna',
            type    => 'dna',
#example	    >gi|20270531|ref|NG_001199.1| 
            header  => '^[^\|]+\|[^\|]+\|[^\|]+\|([^\|]+)\|',
            flavour => 'wu',
            ungapped => 0,
            discard_overlaps => 0,
            max_coverage => 0,
            no_desc => 1,
	},
	{
	    name    => 'refseqdna/mouse.fna',
            type    => 'dna',
#example	    >gi|20270531|ref|NG_001199.1| 
            header  => '^[^\|]+\|[^\|]+\|[^\|]+\|([^\|]+)\|',
            flavour => 'wu',
            ungapped => 0,
            discard_overlaps => 0,
            max_coverage => 0,
            no_desc => 1,
	},
	{
	    name    => 'refseqdna/rat.fna',
            type    => 'dna',
#example	    >gi|20270531|ref|NG_001199.1| 
            header  => '^[^\|]+\|[^\|]+\|[^\|]+\|([^\|]+)\|',
            flavour => 'wu',
            ungapped => 0,
            discard_overlaps => 0,
            max_coverage => 0,
            no_desc => 1,
	}
    ]
);

sub import {
    my ($callpack) = caller(0); # Name of the calling package
    my $pack = shift; # Need to move package off @_

    # Get list of variables supplied, or else all
    my @vars = @_ ? @_ : keys(%Config);
    return unless @vars;

    # Predeclare global variables in calling package
    eval "package $callpack; use vars qw("
         . join(' ', map { '$'.$_ } @vars) . ")";
    die $@ if $@;


    foreach (@vars) {
	if (defined $Config{ $_ }) {
            no strict 'refs';
	    # Exporter does a similar job to the following
	    # statement, but for function names, not
	    # scalar variables:
	    *{"${callpack}::$_"} = \$Config{ $_ };
	} else {
	    die "Error: Config: $_ not known\n";
	}
    }
}

1;
