# All lines started with the hash sign "#" will not be read as config.

# This is an example file of TestDB.conf, a file which is read by the
# test_single_analysis.pl or test_whole_pipeline.pl script in 
# enesmbl-pipeline/test_system directory to create a TestDB object.  

{ 
 #database details (Only use quotes for strings, not numbers)
 'port'   => 3306,
 'driver' => 'mysql',
 'user'   => '',
 'pass'   => '',
 'host'   => 'ecs1d',
 'dbname' => '',

  #where the table structure files are
 'sql_files' => ['../../ensembl-pipeline/sql/table.sql',   #the pipeline tables
                 '../../ensembl/sql/table.sql'],   #the core tables

 #where the zip file containing all the tab-delimited files is
 'data_dir' => 'reference_data',

 #for the following three options, set to '0' for 'false', '1' for 'true':

 #the database already exists and the tables don't need loaded
 'preloaded_tables' => 0,

 #the data doesn't need loaded 
 'preloaded_data' => 0,

 #don't need to unzip the zip file, the directory will already exist:
 #(this is usually set to "0" because the data usually have not been 
 #unzipped, unless you have performed this pipeline test recently with
 #the option "-dont_cleanup")
 'dont_unzip' => 0,

 'job_stats_sleep' => 60,
}


# Note if "don't unzip" is marked the path still needs to be
# {CWD}/species_name/* files. Files in this path won't be deleted by this
# TestDB object even if the object calls the cleanup method.

# If preloaded tables is specified, dbname must be specified and
# the database won't be deleted by TestDB cleanup. preloaded_data must 
# only be true if preloaded_tables is also true.
