# You may distribute this module under the same terms as perl itself

# POD documentation - main docs before the code

=head1 NAME

Bio::EnsEMBL::Pipeline::Config::GeneBuild::TargettedExonerate - imports global variables used by EnsEMBL gene building

=head1 SYNOPSIS
    use Bio::EnsEMBL::Pipeline::Config::GeneBuild::TargettedExonerate;
    use Bio::EnsEMBL::Pipeline::Config::GeneBuild::TargettedExonerate qw(  );

=head1 DESCRIPTION

TargettedExonerate is a pure ripoff of humConf written by James Gilbert.

humConf is based upon ideas from the standard perl Env environment
module.

It imports and sets a number of standard global variables into the
calling package, which are used in many scripts in the human sequence
analysis system.  The variables are first decalared using "use vars",
so that it can be used when "use strict" is in use in the calling
script.  Without arguments all the standard variables are set, and
with a list, only those variables whose names are provided are set.
The module will die if a variable which doesn\'t appear in its
C<%TargettedExonerate> hash is asked to be set.

The variables can also be references to arrays or hashes.

Edit C<%TargettedExonerate> to add or alter variables.

All the variables are in capitals, so that they resemble environment
variables.

=head1 CONTACT

=cut


package Bio::EnsEMBL::Pipeline::Config::GeneBuild::TargettedExonerate;

use strict;
use vars qw( %TargettedExonerate );

# Hash containing config info
%TargettedExonerate = (
	      
	      # minimum required coverage for multiexon predictions
	      GB_TARGETTEDXRATE_MULTI_EXON_COVERAGE      => '25',

	      # minimum required coverage for single predictions
	      GB_TARGETTEDXRATE_SINGLE_EXON_COVERAGE     => '80',

	      # maximum allowed size of intron in TargettedExonerate gene
	      GB_TARGETTEDXRATE_MAX_INTRON               => '700000',

	      # minimum coverage required to prevent splitting on long introns - keep it high!
	      GB_TARGETTEDXRATE_MIN_SPLIT_COVERAGE       => '95',

              # minimum percent identity (an exonerate option)
             # GB_TARGETTEDXRATE_PERCENT                  => '80',

              # bestn for exonerate, usually set to '1'
              GB_TARGETTEDXRATE_BESTN                    => '1',

	      # parameters for use in building genomic and miniseqs - don't touch these 
	      # unless you're sure you know what you're doing.
	      GB_TARGETTEDXRATE_TERMINAL_PADDING                   => '1400000',
	      GB_TARGETTEDXRATE_EXON_PADDING                       => '200',
	      GB_TARGETTEDXRATE_MINIMUM_INTRON                     => '1000',

	      # genetype for TargettedExonerate_GeneWise
	      GB_TARGETTEDXRATE_GW_GENETYPE              => 'TargettedExonerate',	   
	      GB_TARGETTEDXRATE_MASKING => [],  

              GB_TARGETTEDXRATE_FULLSEQ => 1, # run on fullseq (1) or miniseq (0) 

	     #the above setting will lead no features being masked out, if [] is used no masking will take place, if [''] is used all repeats in the table will be masked out
	     #if only some of the sets of repeats wants to be masked out put logic names of the analyses in the array e.g ['RepeatMask', 'Dust']
	     GB_TARGETTEDXRATE_SOFTMASK => 0, # set this to one if you want the repeats softmasked ie lower case rather than uppercase N's

             GB_USE_NEW_PMATCH => 1,

	     );
sub import {
  my ($callpack) = caller(0); # Name of the calling package
  my $pack = shift; # Need to move package off @_
  
  # Get list of variables supplied, or else
  # all of TargettedExonerate:
  my @vars = @_ ? @_ : keys( %TargettedExonerate );
  return unless @vars;
  
  # Predeclare global variables in calling package
  eval "package $callpack; use vars qw("
    . join(' ', map { '$'.$_ } @vars) . ")";
    die $@ if $@;


    foreach (@vars) {
	if ( defined $TargettedExonerate{ $_ } ) {
            no strict 'refs';
	    # Exporter does a similar job to the following
	    # statement, but for function names, not
	    # scalar variables:
	    *{"${callpack}::$_"} = \$TargettedExonerate{ $_ };
	} else {
	    die "Error: TargettedExonerate: $_ not known\n";
	}
    }
}

1;
